---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  heading: string;
  ogImage?: string;
}

const { title, description, heading, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <slot name="head" slot="head" />
  <main>
    <div class="page-banner">
      <div class="inner">
        <header class="major">
          <h1>{heading}</h1>
        </header>
      </div>
    </div>
    <div class="inner">
      <slot />
    </div>
  </main>
</BaseLayout>
