---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  heading: string;
  ogImage?: string;
}

const { title, description, heading, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <slot name="head" slot="head" />
  <div id="main" class="alt">
    <div class="inner">
      <header class="major">
        <h1>{heading}</h1>
      </header>
      <slot />
    </div>
  </div>
</BaseLayout>
